<!-- contact -->
<section class="contact-wthree py-sm-5 py-4" id="contact">
    <div class="container pt-lg-5">
        <div class="title-desc text-center pb-sm-3">
            <h3 class="main-title-w3pvt">contact us</h3>
            <p>Helping animals & working on environmental issues.</p>
        </div>
        <div class="row mt-4">
            <div class="col-lg-5 text-center">
                <h5 class="cont-form" data-blast="color">get in touch</h5>
                <div class="row flex-column">
                    <div class="contact-w3">
                        <span class="fa fa-envelope-open  mb-3" data-blast="color"></span>
                        <div class="d-flex flex-column">
                            <a href="mailto:example@email.com" class="d-block">info@example1.com</a>
                        </div>
                    </div>
                    <div class="contact-w3 my-4">
                        <span class="fa fa-phone mb-3" data-blast="color"></span>
                        <div class="d-flex flex-column">
                            <p class="my-1">+456 123 7890</p>
                        </div>
                    </div>
                    <div class="contact-w3">
                        <span class="fa fa-home mb-3" data-blast="color"></span>
                        <address>71 Pilgrim Avenue <br>44 Shirley Ave.<br> Goldfield Rd. Broome St, Newyork.</address>
                    </div>
                </div>

            </div>
            <div class="col-lg-7">
                <h5 class="cont-form" data-blast="color">contact form</h5>
                @Html.Action("ContactAjax", "ContactUs")
            </div>
        </div>
        <div class="mx-auto text-center mt-lg-0 mt-4">
            <iframe class="mt-lg-4 contact-form-wthreelayouts" data-blast="borderColor" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798902705!2d-74.25986790365911!3d40.697670067823786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1536917325197" allowfullscreen></iframe>
            <!-- //footer right -->
        </div>
    </div>

</section>
<!-- //contact -->