<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Error.errorTitle</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Error.errorHead</h1>
        <h2>@Resources.Error.errorContent</h2>
    </hgroup>
</body>
</html>
