<!--  about -->
<section class="wthree-slide-btm pt-lg-5" id="about">
    <div class="container pt-sm-5 pt-4">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <div class="slide-banner">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="bg-abt light-bg">
                    <div class="container">
                        <div class="title-desc  pb-sm-3">
                            <h4 class="main-title-w3pvt">@Resources.Home.About.box1_title</h4>
                            <p>@Resources.Home.About.box1_desc</p>
                        </div>
                        <div class="row flex-column mt-lg-4 mt-3">
                            <div class="abt-grid">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="abt-icon" data-blast="bgColor">
                                            <span class="fa fa-ravelry"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 pl-sm-0">
                                        <div class="abt-txt ml-sm-0">
                                            <h4>sanctus takimata </h4>
                                            <p>
                                                Lo sea takimata sanctus est Lorem ipolor sit amet, no sea takimata
                                                sanctus est Loremsum dolor sit amet.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="abt-grid mt-4 pt-lg-2">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="abt-icon" data-blast="bgColor">
                                            <span class="fa fa-laptop"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 pl-sm-0">
                                        <div class="abt-txt ml-sm-0">
                                            <h4>takimata sanctus</h4>
                                            <p>
                                                Lo sea takimata sanctus est Lorem ipsum dolorsita.Lorem ipsum dolor
                                                sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                                magna aliquyam erat, At vero eos et accusam et justo duo dolores et
                                                ea
                                                rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est
                                                Lorem
                                                ipsum dolor sit amet. Stet clita kasd gubergren.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!--  about bottom -->
<section class="wthree-slide-btm pb-lg-5">
    <div class="container pb-md-5 pb-4">
        <div class="row flex-row-reverse no-gutters">
            <div class="col-lg-5">
                <div class="ab-banner">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="bg-abt">
                    <div class="container">
                        <div class="title-desc  pb-sm-3">
                            <h4 class="main-title-w3pvt">@Resources.Home.About.box2_title</h4>
                            <p>@Resources.Home.About.box2_desc</p>
                        </div>
                        <div class="row flex-column mt-lg-4 mt-3">
                            <div class="abt-grid">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="abt-icon" data-blast="bgColor">
                                            <span class="fa fa-ravelry"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 pl-sm-0">
                                        <div class="abt-txt ml-sm-0">
                                            <h4>sanctus takimata </h4>
                                            <p>
                                                Lo sea takimata sanctus est Lorem ipolor sit amet, no sea takimata
                                                sanctus est Loremsum dolor sit amet.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="abt-grid mt-4 pt-lg-2">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="abt-icon" data-blast="bgColor">
                                            <span class="fa fa-laptop"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 pl-sm-0">
                                        <div class="abt-txt ml-sm-0">
                                            <h4>takimata sanctus</h4>
                                            <p>
                                                Lo sea takimata sanctus est Lorem ipsum dolorsita.Lorem ipsum dolor
                                                sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                                magna aliquyam erat, At vero eos et accusam et justo duo dolores et
                                                ea
                                                rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est
                                                Lorem
                                                ipsum dolor sit amet. Stet clita kasd gubergren.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about boottom -->