<!-- blog -->
<section class="blog_w3ls pb-lg-5 pb-4" id="posts">
    <div class="container py-sm-5 py-4">
        <div class="title-desc text-center pb-sm-3 mb-lg-5">
            <h3 class="main-title-w3pvt">recent blog</h3>
            <p>Helping animals & working on environmental issues.</p>
        </div>
        <div class="row mt-4">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#exampleModal2" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2"
                           role="button">
                            <img class="card-img-bottom" src="~/Assets/images/g1.jpg" alt="Card image cap">
                            <span class="fa fa-user post-icon bg-theme" aria-hidden="true" data-blast="bgColor"></span>

                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#exampleModal2" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2"
                               role="button">Cras ultricies ligula sed.</a>
                        </h5>
                        <p>
                            At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit
                            ametLorem ipsum dolor sit amet,sed diam nonumy.
                        </p>
                        <label class="mt-2"> <span class="fa fa-calendar mr-3"></span>08.10.2018</label>
                        <button type="button" class="btn blog-btn wthree-bnr-btn" data-toggle="modal" aria-pressed="false"
                                data-target="#exampleModal2">
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#exampleModal3" data-toggle="modal" aria-pressed="false" data-target="#exampleModal3"
                           role="button">
                            <img class="card-img-bottom" src="~/Assets/images/g2.jpg" alt="Card image cap">
                            <span class="fa fa-user post-icon bg-theme" aria-hidden="true" data-blast="bgColor"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#exampleModal3" data-toggle="modal" aria-pressed="false" data-target="#exampleModal3"
                               role="button">magna porta auris.</a>
                        </h5>
                        <p>
                            At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit
                            ametLorem ipsum dolor sit amet,sed diam nonumy.
                        </p>
                        <label class="mt-2"> <span class="fa fa-calendar mr-3"></span>02.11.2018</label>
                        <button type="button" class="btn blog-btn wthree-bnr-btn" data-toggle="modal" aria-pressed="false"
                                data-target="#exampleModal3">
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 mx-auto">
                <div class="card">
                    <div class="card-header p-0  position-relative">
                        <a href="#exampleModal4" data-toggle="modal" aria-pressed="false" data-target="#exampleModal4"
                           role="button">
                            <img class="card-img-bottom" src="~/Assets/images/g3.jpg" alt="Card image cap">
                            <span class="fa fa-user post-icon bg-theme" aria-hidden="true" data-blast="bgColor"></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="#exampleModal4" data-toggle="modal" aria-pressed="false" data-target="#exampleModal4"
                               role="button">Cras ultricies ligula sed.</a>
                        </h5>
                        <p>
                            At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit
                            ametLorem ipsum dolor sit amet,sed diam nonumy.
                        </p>
                        <label class="mt-2"> <span class="fa fa-calendar mr-3"></span>10.11.2018</label>
                        <button type="button" class="btn blog-btn wthree-bnr-btn" data-toggle="modal" aria-pressed="false"
                                data-target="#exampleModal4">
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //blog -->