<!-- blog modal1 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-theme">
                <h5 class="modal-title" id="exampleModalLabel2">Cras ultricies ligula sed.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="~/Assets/images/g1.jpg" class="img-fluid" alt="" />
                <p class="text-left my-4">
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                    nisl
                    tempus convallis quis ac
                    lectus. Cras ultricies ligula sed magna dictum porta.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //blog modal1 -->
<!-- blog modal2 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-theme">
                <h5 class="modal-title" id="exampleModalLabel3">Cras ultricies ligula sed.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="~/Assets/images/g2.jpg" class="img-fluid" alt="" />
                <p class="text-left my-4">
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                    nisl
                    tempus convallis quis ac
                    lectus. Cras ultricies ligula sed magna dictum porta.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //blog modal2 -->
<!-- blog modal3 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-theme">
                <h5 class="modal-title" id="exampleModalLabel4">Cras ultricies ligula sed magna.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="~/Assets/images/g3.jpg" class="img-fluid" alt="" />
                <p class="text-left my-4">
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                    nisl
                    tempus convallis quis ac
                    lectus. Cras ultricies ligula sed magna dictum porta.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //blog modal3-->