<!-- portfolio -->
<section class="wthree-row w3-gallery cliptop-portfolio-wthree pt-lg-5" id="portfolio">
    <div class="container-fluid">
        <div class="title-desc text-center pb-3">
            <h3 class="main-title-w3pvt">portfolio</h3>
            <p>create your outstanding clean and high quality website.</p>
        </div>
        <ul class="demo row py-lg-5 py-sm-4 pb-4">
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g1.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g4.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g5.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g3.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-4 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g2.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-4 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g1.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-4 col-sm-6 mx-auto">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g4.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g5.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g4.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g6.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
            <li class="col-lg-3 col-sm-6">
                <div class="gallery-grid1">
                    <img src="~/Assets/images/g5.jpg" alt=" " class="img-fluid img-thumbnail" />
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- //portfolio -->