    <!-- pricing plans -->
<section class="py-lg-5 py-4" id="plans">
    <div class="container py-md-5">
        <div class="title-desc text-center pb-sm-3">
            <h3 class="main-title-w3pvt">recent projects</h3>
            <p>helping animals & working on environmental issues.</p>
        </div>
        <div class="row price-row">
            <div class="col-lg-4 col-sm-6 column mb-lg-0 mb-4">
                <div class="box" data-blast="borderColor">
                    <div class="title">
                        <span class="fa fa-gg" data-blast="color"></span>
                        <h5 data-blast="color">protecting forests</h5>
                    </div>
                    <div class="price">
                        <h6>funds needed - <sup>$</sup><span class="font-weight-bold">800</span></h6>
                    </div>
                    <div class="option">
                        <ul>
                            <li>50 Gb Space</li>
                            <li>5 Domain Names</li>
                            <li>20 Email Address</li>
                            <li>Live Support</li>
                        </ul>
                    </div>
                    <button type="button" class="btn w3ls-btn bg-theme  d-block" data-toggle="modal" aria-pressed="false"
                            data-target="#exampleModal" data-blast="bgColor">
                        donate now
                    </button>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 column mb-lg-0 mb-4">
                <div class="box" data-blast="borderColor">
                    <div class="title">
                        <span class="fa fa-money" data-blast="color"></span>
                        <h5 data-blast="color">rescue rehabilitation</h5>
                    </div>
                    <div class="price">
                        <h6>funds needed - <sup>$</sup><span class="font-weight-bold">1200</span></h6>
                    </div>
                    <div class="option">
                        <ul>
                            <li>50 Gb Space</li>
                            <li>5 Domain Names</li>
                            <li>20 Email Address</li>
                            <li>Live Support</li>
                        </ul>
                    </div>
                    <button type="button" class="btn w3ls-btn bg-theme  d-block" data-toggle="modal" aria-pressed="false"
                            data-target="#exampleModal" data-blast="bgColor">
                        donate now
                    </button>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6  mx-auto mt-lg-0 mt-4 column">
                <div class="box" data-blast="borderColor">
                    <div class="title">
                        <span class="fa fa-gg" data-blast="color"></span>
                        <h5 data-blast="color">environmental air</h5>
                    </div>
                    <div class="price">
                        <h6>funds needed - <sup>$</sup><span class="font-weight-bold">3000</span></h6>
                    </div>
                    <div class="option">
                        <ul>
                            <li>50 Gb Space</li>
                            <li>5 Domain Names</li>
                            <li>20 Email Address</li>
                            <li>Live Support</li>
                        </ul>
                    </div>
                    <button type="button" class="btn w3ls-btn bg-theme  d-block" data-toggle="modal" aria-pressed="false"
                            data-target="#exampleModal" data-blast="bgColor">
                        donate now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //pricing plans -->