    <!-- services -->
<div class="w3lspvt-about py-md-5 py-5" id="services">
    <div class="container pt-lg-5">
        <div class="title-desc text-center pb-sm-3">
            <h3 class="main-title-w3pvt">premium features</h3>
            <p>helping animals & working on environmental issues.</p>
        </div>
        <div class="w3lspvt-about-row row  text-center pt-md-0 pt-5 mt-lg-5">
            <div class="col-lg-4 col-sm-6 w3lspvt-about-grids">
                <div class="p-md-5 p-sm-3">
                    <span class="fa fa-map-marker" data-blast="borderColor"></span>
                    <h4 class="mt-2 mb-3" data-blast="color">wind energy</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 w3lspvt-about-grids  border-left border-right my-sm-0 my-5">
                <div class="p-md-5 p-sm-3">
                    <span class="fa fa-check-circle-o" data-blast="borderColor"></span>
                    <h4 class="mt-2 mb-3" data-blast="color">pollution</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-lg-4 w3lspvt-about-grids">
                <div class="p-md-5 p-sm-3">
                    <span class="fa fa-paw" data-blast="borderColor"></span>
                    <h4 class="mt-2 mb-3" data-blast="color">saving animals</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
        </div>
        <div class="w3lspvt-about-row border-top row text-center pt-md-0 pt-5 mt-md-0 mt-5">
            <div class="col-lg-4 col-sm-6 w3lspvt-about-grids">
                <div class="p-md-5 p-sm-3 col-label">
                    <span class="fa fa-tint" data-blast="borderColor"></span>
                    <h4 class="mt-2 mb-3" data-blast="color">water</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 w3lspvt-about-grids mt-lg-0 mt-md-3 border-left border-right pt-sm-0 pt-5">
                <div class="p-md-5 p-sm-3 col-label">
                    <span class="fa fa-handshake-o" data-blast="borderColor">
                    </span>
                    <h4 class="mt-2 mb-3" data-blast="color">protection</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-lg-4 w3lspvt-about-grids pt-md-0 pt-5">
                <div class="p-md-5 p-sm-3 col-label">
                    <span class="fa fa-bar-chart" data-blast="borderColor"></span>
                    <h4 class="mt-2 mb-3" data-blast="color">nature</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services -->
