<!-- slide -->
<div class="abt_bottom py-lg-5 bg-theme" data-blast="bgColor">
    <div class="container py-sm-4 py-3">
        <h4 class="abt-text text-capitalize text-sm-center mb-0">Join the Mission to help World</h4>
        <p class="text-white text-sm-center ">We Move The World To Protect Animals</p>
        <div class="d-sm-flex justify-content-center">
            <a href="#" role="button" data-toggle="modal" data-target="#exampleModal" class="btn light-bg mt-sm-4 mt-3 ml-3 w3_pvt-link-bnr">
                make a contribution
            </a>
            <a href="#" role="button" data-toggle="modal" data-target="#exampleModal1" class="btn light-bg mt-sm-4 mt-3 ml-3 w3_pvt-link-bnr">
                become volunteer
            </a>
        </div>
    </div>
</div>
<!-- //slide -->
