    <!-- slide -->
<div class="abt_bottom py-lg-5 bg-theme" data-blast="bgColor">
    <div class="container py-sm-4 py-3">
        <h4 class="abt-text text-capitalize text-sm-center">
            Over 70% of donations made to us directly impact animals
            in the wild
        </h4>
        <div class="d-sm-flex justify-content-center">
            <a class="btn light-bg mt-4 w3_pvt-link-bnr scroll bg-theme1" href="#contact" role="button">
                contact
                us
            </a>
            <a href="#" role="button" data-toggle="modal" data-target="#exampleModal1" class="btn light-bg mt-4 ml-sm-3 w3_pvt-link-bnr">
                make a contribution
            </a>
        </div>
    </div>
</div>
<!-- //slide -->