<!-- stats -->
<section class="w3_stats py-sm-5 py-4" id="stats">
    <div class="container">
        <div class="py-lg-5 w3-stats">
            <h2 class="w3pvt-title">
                We Move The World To Protect Animals
            </h2>
            <p class="my-4 text-white">
                Vestibulum volutpat non eros ut vulputate. Nunc id risus accumsan Donec mi nulla, auctor
                nec sem a, ornare auctor mi. Sed
                mi tortor, commodo a felis in, fringilla tincidunt nulla.
            </p>
            <div class="row py-4">
                <div class="col-md-4 col-6">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-2 text-white" data-to="297" data-speed="1500"></div>
                        <p class="count-text text-uppercase text-white">volunteers</p>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-2 text-white" data-to="194" data-speed="1500"></div>
                        <p class="count-text text-uppercase text-white">projects completed</p>
                    </div>
                </div>
                <div class="col-md-4 col-6 mt-md-0 mt-4">
                    <div class="counter">
                        <span class="fa fa-database"></span>
                        <div class="timer count-title count-number mt-2 text-white" data-to="2298" data-speed="1500"></div>
                        <p class="count-text text-uppercase text-white">donars</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- //stats -->

