    <!-- team -->
<section class="team py-4 py-lg-5" id="team">
    <div class="container py-lg-5 py-sm-4">
        <div class="title-desc text-center pb-sm-3">
            <h3 class="main-title-w3pvt">our team</h3>
            <p>Helping animals & working on environmental issues.</p>
        </div>
        <div class="row py-4 mt-lg-5  team-grid">
            <div class="col-lg-4 col-sm-6">
                <div class="box13">
                    <img src="~/Assets/images/t1.jpg" class="img-fluid img-thumbnail" alt="" />
                    <div class="box-content">
                        <h3 class="title" data-blast="color">Williamson</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <div class="box13">
                    <img src="~/Assets/images/t2.jpg" class="img-fluid img-thumbnail" alt="" />
                    <div class="box-content">
                        <h3 class="title" data-blast="color">Kristiana</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4">
                <div class="box13">
                    <img src="~/Assets/images/t3.jpg" class="img-fluid img-thumbnail" alt="" />
                    <div class="box-content">
                        <h3 class="title" data-blast="color">Thomson</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  mt-4">
                <div class="box13">
                    <img src="~/Assets/images/t4.jpg" class="img-fluid img-thumbnail" alt="" />
                    <div class="box-content">
                        <h3 class="title" data-blast="color">dolor sit</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-4">
                <div class="box13">
                    <img src="~/Assets/images/t5.jpg" class="img-fluid img-thumbnail" alt="" />
                    <div class="box-content">
                        <h3 class="title" data-blast="color">ipsum dolor</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-4">
                <div class="box13">
                    <img src="~/Assets/images/t6.jpg" class="img-fluid img-thumbnail" alt="" />
                    <div class="box-content">
                        <h3 class="title" data-blast="color">Lorem ipsum </h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team -->
